# https://help.github.com/en/categories/automating-your-workflow-with-github-actions

on:
  - pull_request
  - push

name: "Reference"

jobs:
  php:
    name: "Reference"

    runs-on: ubuntu-latest

    steps:
      - name: "Is branch"
        if: "startsWith(github.event.ref, 'refs/heads/')"
        run: echo "Is branch"

      - name: "Is master"
        if: "github.event.name == 'push' && github.event.ref == 'refs/heads/master'"
        run: echo "Is master"

      - name: "Is pull request"
        if: "startsWith(github.ref, 'refs/pull/')"
        run: echo "Is pull request"

      - name: "Is tag"
        if: "startsWith(github.ref, 'refs/tags/')"
        run: echo "Is tag"
